{% load static %}
<div class="bottom-parallax">
    <footer class="main-footer">
        <!--Widgets Section-->
        <div class="auto-container">

            <div class="widgets-section">
                <div class="row clearfix">

                    <!--Footer Column-->
                    <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                        <!--About Widget-->
                        <div class="footer-widget logo-widget">
                            <div class="logo">
                                <a href="index-2.html"><img src="{{ data.footer_logo.url }}" alt="" style="width: 150px;" /></a>
                            </div>
                            <div class="text">{{data.preamble|slice:150}}...</div>
                            <a href="#" class="theme-btn btn-style-two">Read More</a>
                        </div>
                    </div>

                    <!--Footer Column-->
                    <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                        <!--About Widget-->
                        <div class="footer-widget links-widget">
                            <h5>Usefull Links</h5>
                            <div class="row clearfix">
                                <ul class="link-list col-md-12 col-sm-12 col-xs-12">
                                    {% for course in courses%}
                                    <li><a href="#">{{course.title}}</a></li>
                                    {%endfor%}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Footer Column-->
                    <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                        <!--About Widget-->
                        <div class="footer-widget news-widget">
                            <h5>Latest News</h5>

                            {%for blog in blogs%}
                            <div class="news-widget-block">
                                <div class="inner">
                                    <div class="icon flaticon-world"></div>
                                    <div class="post-date">February 14, 2019</div>
                                    <div class="text"><a href="#">Seminar for improve  business profit & loss</a></div>
                                </div>
                            </div>
                            {%endfor%}

                        </div>
                    </div>

                </div>
            </div>

            <!--Footer Info Section-->
            <div class="footer-info-section">
                <div class="row clearfix">

                    <!--Info Block-->
                    <div class="info-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="icon flaticon-pin"></div>
                            <h6>Address</h6>
                            <div class="text">{{data.address}}</div>
                        </div>
                    </div>

                    <!--Info Block-->
                    <div class="info-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="icon flaticon-technology-1"></div>
                            <h6>Call Us On</h6>
                            <div class="text">Front Desk: {{data.phone_number}}</div>
                        </div>
                    </div>

                    <!--Info Block-->
                    <div class="info-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="icon flaticon-web"></div>
                            <h6>Email at</h6>
                            <div class="text">{{data.email}}</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="column col-md-6 col-sm-12 col-xs-12">
                        <div class="copyright"><a target="_blank" href="#">Developed by Musaddiq Technologies -- 07060936935</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Footer Bottom-->

    </footer>
</div>