{% extends 'form_app/partials/base.html' %}
{% load static %}


{% block content %}
    {% include 'form_app/partials/navbar.html' %}
    {% include 'form_app/partials/sidebar.html' %}
    <div class="main-content" id='app'>
      <section class="section">
        <div class="section-body">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible show fade mt-2">
            <div class="alert-body">
              <button class="close" data-dismiss="alert">
                <span>&times;</span>
              </button>
              {{message}}
            </div>
          </div>
          {% endfor%}
          {% endif %}
          <div class='row'>
            {% comment %} ========== Contact ============= {% endcomment %}
            <div class="col-12 col-md-12 col-lg-12">
              <form method="POST">
                {% csrf_token %}
              <div class='card'>
                <div class="card-header">
                  <h4>Contact Information</h4>
                </div>
                <div class='card-body'>
                  
                    <div class="row">
                      <div class="form-group col-md-12 col-sm-12">
                        <label>Fullname</label>
                        <input type="text" name="fullname" class="form-control" value="{{contactObject.fullname}}">
                      </div>
                      <div class="form-group col-md-6 col-sm-12">
                        <label>Tel No I</label>
                        <input type="text" name="tel1" class="form-control" value="{{contactObject.tel1}}">
                      </div>

                      <div class="form-group col-md-6 col-sm-12">
                        <label>Tel No II</label>
                        <input type="text" name="tel2" class="form-control" value="{{contactObject.tel2}}">
                      </div>

                      <div class="form-group col-md-6 col-sm-12">
                        <label>Contact Address</label>
                        <input type="text" name="contact_address" class="form-control" value="{{contactObject.contact_address}}">
                      </div>

                      <div class="form-group col-md-6 col-sm-12">
                        <label>Permanent Address</label>
                        <input type="text" name="permanent_address" class="form-control" value="{{contactObject.permanent_address}}">
                      </div>
                    </div>

                  
                </div>
                <div class="card-header">
                  <h4>Information of Next of Kin</h4>
                </div>
                <div class='card-body'>
         
                    <div class="row">
                      <div class="form-group col-md-6 col-sm-12">
                        <label>Fullname</label>
                        <input type="text" name="nok_fullname" class="form-control" value="{{nextOfKinObject.nok_fullname}}">
                      </div>
                      <div class="form-group col-md-6 col-sm-12">
                        <label>Relationship</label>
                        <select class="form-control select" name="relationship">
                          <option>{{nextOfKinObject.relationship}}</option>
                          <option>Sibling</option>
                          <option>Parent</option>
                          <option>Spouse</option>
                          <option>Guardian</option>
                          <option>Others</option>
                          </select>
                      </div>
                      <div class="form-group col-md-6 col-sm-12">
                        <label>Tel No <Noscript></Noscript></label>
                        <input type="text" name="nok_tel" class="form-control" value="{{nextOfKinObject.nok_tel}}">
                      </div>
                      <div class="form-group col-md-6 col-sm-12">
                        <label>Email</label>
                        <input type="text" name="nok_email" class="form-control" value="{{nextOfKinObject.nok_email}}">
                      </div>
                    </div>
                    <button name="save_biodata" class="btn btn-primary mr-1" type="submit">Save</button>
                  
                </div>
              </div>

              </form>
            </div>
          </div>
        </div>
      </section>
    </div>

    {% include 'form_app/partials/footer.html' %}


{% endblock content %}

