{% extends 'src/partials/base.html' %}
{% load static %}


{% block content %}
    {% include 'src/partials/navbar.html' %}
    {% include 'src/partials/sidebar.html' %}
    <div class="main-content" id='app'>
      <section class="section">
        <div class="section-body">
          <div class='row'>

            {% comment %} ==========Orders============= {% endcomment %}
            <div class="col-12 col-md-12 col-lg-12">
              <div class='card'>
                <div class="card-header">
                  <h4>Filter Orders by Date Range</h4>
                </div>
                <div class='card-body'>
                  <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label>From</label>
                          <input type="text" name="starting" class="form-control datepicker" placeholder="2020-01-27">
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label>To</label>
                          <input type="text" name="ending" class="form-control datepicker" placeholder="2020-01-27">
                        </div>
                      </div>
                    </div>

                    <button name="orders_filter" class="btn btn-primary mr-1" type="submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4>Order Records,</h4>
                  <br> <h4>Total:  {{total}}</h4>
                  <br> <h4>Profit: {{totalProfit}} </h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover" id="save-stage" style="width:100%;">
                      <thead>
                        <tr>
                          <th>Order Reference</th>
                          <th>Amount</th>
                          <th>Order Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in items %}
                        <tr>
                          <td><a href="{% url 'order_details' item.id %}">{{item.orderReference}}</a></td>
                          <td>{{item.amount}}</td>
                          <td>{{item.orderedOn|date:"F, d, Y, G:i"}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </section>
    </div>

    {% include 'src/partials/footer.html' %}


{% endblock content %}