{% extends 'website/base.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper">



    <!-- Main Header-->
    {% include 'studentPortal/header.html'%}

    <!--DashBoard Section-->
    <section class="team-section">
        <div class="auto-container">

            <div class="row clearfix">

                {% for staff in staffs%}
                <!--Team Member-->
 
                <div class="team-member col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image-box">
                            <figure class="image"><img src="{{student.passport.url}}" alt=""></figure>
                        </div>
                        <div class="lower-content">
                            <h6 class="text-left p-2"><a href="#">Name: {{student.name}}</a></h6>
                            <div class="designation text-left p-2">Matric No: {{student.user}}</div>
                            <div class="designation text-left p-2">Email: ismailabbas355@gmail.com</div>
                            <div class="designation text-left p-2">Phone No: {{student.phone_number}}</div>
                            <h6 class="text-left p-2"><a href="{% url 'logout' %}">Logout</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <!--Cart Outer-->
                    <h6>History</h6>
                    <div class="cart-outer">
                        <div class="table-outer">
                            <table class="cart-table">
                                <thead class="cart-header">
                                    <tr>
                                        <th>S/N</th>
                                        <th>Session</th>
                                        <th>Programme</th>
                                        <th>Level</th>
                                        <th>School Fees</th>
                                        <th>Course Registration</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr>

                                        <td class="price">1</td>
                                        <td class="price">2021/2022</td>
                                        <td class="price">Nutrition and Dietetics (ND)</td>
                                        <td class="price">100L</td>
                                        <td class="price">Paid</td>
                                        <td class="price">Registered</td>
                        
                                    </tr>
                                    <tr>

                                        <td class="price">2</td>
                                        <td class="price">2022/2023</td>
                                        <td class="price">Nutrition and Dietetics (ND)</td>
                                        <td class="price">200L</td>
                                        <td class="price">Not Paid</td>
                                        <td class="price">Not Registered</td>
                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>           
                    </div>
                </div>
                {% endfor %}


            </div>

        </div>
    </section>
    <!--End Team Section-->
</div>
<footer style="position: fixed; bottom: 0; width: 100%;">
    <div class="container" style="background-color: #3D9970;">
        <p class="text-center" style="color: #fff;">Developed by -- Musaddiq Technologies Ltd @+2347060936935</p>
    </div>
</footer>
<!--End pagewrapper-->

{%endblock content%}