{% load static %}
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="index.html"> <img alt="image" src="{% static 'form_app/assets/img/gstore.png' %}" class="header-logo" style="width:150px; height:150px;"/> <span
            class="logo-name"></span>
        </a>
      </div>
      <ul class="sidebar-menu">
        <li class="menu-header">Main</li>
        <li class="dropdown active">
          <a href="{% url 'dashboard' %}" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
        </li>
    
        <li class="dropdown active" >
          <a href="#" class="menu-toggle nav-link has-dropdown"><i
              data-feather="user"></i><span>Result</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'upload-result' %}">Upload Student Result</a></li>
            <li><a class="nav-link" href="{% url 'update-result' %}">Update Student Result</a></li>

          </ul>
        </li>




      </ul>
    </aside>
</div>