{% extends 'website/base.html' %} {% load static %} {% block content %}
<div class="page-wrapper">



    <!-- Main Header-->
    {% include 'staffPortal/header.html'%}

    <!--Billing Details-->
    <div class="container mt-5">

        <div class="billing-details">
            <div class="shop-form">

                <div class="row clearfix">

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="sec-title">
                                <h2>Add New Student</h2>
                            </div>
                            <div class="billing-inner">
                                <div class="row clearfix">



                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-label">Registration No <sup>*</sup> </div>
                                        <input type="text" name="reg_no" placeholder="Enter student's Registration No">
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-label">Full Name <sup>*</sup> </div>
                                        <input type="text" name="name" placeholder="Enter student's Full Name">
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-label">Programme <sup>*</sup> </div>
                                        <select name="programme">
                                                        <option>Select an option</option>
                                                        <option>Health Information</option>
                                                    </select>
                                    </div>

                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-label">Level <sup>*</sup> </div>
                                        <select name="level">
                                                        <option>Select an option</option>
                                                        <option>100Level</option>
                                                    </select>
                                    </div>

                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-label">State of Origin<sup>*</sup> </div>
                                        <input type="text" name="state" placeholder="Enter student's State">
                                    </div>

                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-label">Local Government Area<sup>*</sup> </div>
                                        <input type="text" name="lga" placeholder="Enter student's Local Government">
                                    </div>

                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-label">Phone No:<sup>*</sup> </div>
                                        <input type="text" name="phone_no" placeholder="Enter student's Phone No">
                                    </div>

                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-label">Home Address:<sup>*</sup> </div>
                                        <textarea type="text" name="address"></textarea>
                                    </div>

                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-label">Date of Birth:<sup>*</sup> </div>
                                        <input type="text" name="dob" placeholder="Enter Date of Birth DD-MM-YYYY">
                                    </div>

                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-label">Next of Kin:<sup>*</sup> </div>
                                        <input type="text" name="nok" placeholder="Enter Next of Kin Name">
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-label">Next of Kin Phone No:<sup>*</sup> </div>
                                        <input type="text" name="nok_phone_no" placeholder="Enter Next of Kin Phone No">
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-label">Next of Kin Email:<sup>*</sup> </div>
                                        <input type="email" name="nok_email" placeholder="Enter Next of Kin Email">
                                    </div>

                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-label">Upload Passport (Not Morethan 5kb) <sup>*</sup> </div>
                                        <input type="file" name="passport">
                                    </div>



                                    <!--Form Group-->
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <button name="add" type="submit" class="theme-btn btn-style-one">Save</button>
                                    </div>


                                </div>
                            </div>
                        </form>
                    </div>


                </div>


            </div>

        </div>
        <!--End Billing Details-->
    </div>
</div>
<footer style="bottom: 0; width: 100%;">
    <div class="container" style="background-color: #3D9970;">
        <p class="text-center" style="color: #fff;">Developed by -- Musaddiq Technologies Ltd @+2347060936935</p>
    </div>
</footer>
<!--End pagewrapper-->

{%endblock content%}