{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Gagare Store</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'form_app/assets/css/app.min.css' %}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'form_app/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'form_app/assets/bundles/prism/prism.css' %}">
  <link rel="stylesheet" href="{% static 'form_app/assets/css/components.css' %}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'form_app/assets/css/custom.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href='form_app/assets/img/favicon.ico' />
  <link rel="stylesheet" href="{% static 'form_app/assets/bundles/bootstrap-daterangepicker/daterangepicker.css' %}">
  <link rel="stylesheet" href="{% static 'form_app/assets/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}">
  <link rel="stylesheet" href="{% static 'form_app/assets/bundles/select2/dist/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'form_app/assets/bundles/jquery-selectric/selectric.css' %}">
  <link rel="stylesheet" href="{% static 'form_app/assets/bundles/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}">
  <link rel="stylesheet" href="{% static 'form_app/assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}">
  <link rel="stylesheet" href="{% static 'form_app/assets/bundles/datatables/datatables.min.css' %}">
  <link rel="stylesheet" href="{% static 'form_app/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'form_app/assets/bundles/bootstrap-daterangepicker/daterangepicker.css' %}">
</head>

<body>
  <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            {% block content %}
            {% endblock content %}
        </div>
    </div>



  <!-- General JS Scripts -->
  


  <script src="{% static 'form_app/assets/js/app.min.js' %}"></script>
  <!-- JS Libraies -->
  <script src="{% static 'form_app/assets/bundles/apexcharts/apexcharts.min.js' %}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'form_app/assets/js/page/index.js' %}"></script>
  <!-- Template JS File -->
  <script src="{% static 'form_app/assets/js/scripts.js' %}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'form_app/assets/js/custom.js' %}"></script>

  <script src="{% static 'form_app/assets/bundles/datatables/datatables.min.js' %}"></script>
  <script src="{% static 'form_app/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'form_app/assets/bundles/jquery-ui/jquery-ui.min.js' %}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'form_app/assets/js/page/datatables.js' %}"></script>
  <script src="{% static 'form_app/assets/bundles/prism/prism.js' %}"></script>

  <script src="{% static 'form_app/assets/bundles/cleave-js/dist/cleave.min.js' %}"></script>
  <script src="{% static 'form_app/assets/bundles/cleave-js/dist/addons/cleave-phone.us.js' %}"></script>
  <script src="{% static 'form_app/assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js' %}"></script>
  <script src="{% static 'form_app/assets/bundles/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
  <script src="{% static 'form_app/assets/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
  <script src="{% static 'form_app/assets/bundles/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
  <script src="{% static 'form_app/assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
  <script src="{% static 'form_app/assets/bundles/select2/dist/js/select2.full.min.js' %}"></script>
  <script src="{% static 'form_app/assets/bundles/jquery-selectric/jquery.selectric.min.js' %}"></script>
    <!-- JS Libraies -->
    <script src="{% static 'form_app/assets/bundles/sweetalert/sweetalert.min.js' %}"></script>
    <!-- Page Specific JS File -->
    <script src="{% static 'form_app/assets/js/page/sweetalert.js' %}"></script>

  <script src="{% static 'form_app/assets/js/page/forms-advanced-forms.js' %}"></script>
    <!-- Template JS File -->

  </script>

  </script>
</body>


<!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>